  body{
background-color: transparent;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: left top;
} 
 table{
border: 0;
border-color: transparent;
} 
 td{
color: #FFFFFF;
font-family: Arial;
font-size: 18;
font-weight: bold;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
text-align: center;
border: 0;
}