A {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DT {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DD {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BLOCKQUOTE {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SPAN {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #000099; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A:active {
	COLOR: #000099
}
A:hover {
	TEXT-DECORATION: underline
}
A.none {
	TEXT-DECORATION: none
}
TD.navigation {
	COLOR: #003366; BACKGROUND-COLOR: #6699cc
}
TD.otherimcs B {
	FONT-SIZE: 10px; MARGIN: 10px; COLOR: #003366
}
TD.otherimcs A:link {
	FONT-SIZE: 10px; MARGIN: 10px; COLOR: white; TEXT-DECORATION: none
}
TD.otherimcs A:visited {
	FONT-SIZE: 10px; MARGIN: 10px; COLOR: white; TEXT-DECORATION: none
}
TD.otherimcs A:active {
	FONT-SIZE: 10px; MARGIN: 10px; COLOR: white
}
TD.otherimcs A:hover {
	FONT-SIZE: 10px
}
A.language:link {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.language:visited {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.language:active {
	FONT-SIZE: 10px; COLOR: white
}
A.language:hover {
	FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.none {
	FONT-SIZE: 10px; TEXT-DECORATION: none
}
.navigationlanguagelist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD.navigationseparator {
	BACKGROUND-COLOR: #99ccff
}
.navigationtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px 20px 30px 40px; COLOR: white; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
.navigationtopiclist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #336699
}
A.navigationtopic {
	FONT-SIZE: 9px; TEXT-DECORATION: none
}
A.navigationtopic:link {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.navigationtopic:visited {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.navigationtopic:active {
	FONT-SIZE: 10px; COLOR: white
}
A.navigationtopic:hover {
	FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.none {
	FONT-SIZE: 10px; TEXT-DECORATION: none
}
TD.navigationitem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #003366; PADDING-TOP: 10px
}
A.navigationitem:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.navigationitem:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
A.navigationitem:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white
}
A.navigationitem:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.none {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.calendarlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000099; TEXT-DECORATION: none
}
A.calendarlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000099; TEXT-DECORATION: none
}
A.calendarlink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000099
}
A.calendarlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.none {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.featuretopic {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #003366
}
.featurecolumn {
	PADDING-TOP: 10px; BACKGROUND-COLOR: #eaeaea
}
TD.featuredescription {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
P.featuretext {
	
}
A.featuretitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; TEXT-DECORATION: none
}
A.featuretitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; TEXT-DECORATION: none
}
A.featuretitle:active {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; TEXT-DECORATION: none
}
A.featuretitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; TEXT-DECORATION: underline
}
A.feature:link {
	TEXT-DECORATION: none
}
A.feature:visited {
	TEXT-DECORATION: none
}
A.feature:hover {
	TEXT-DECORATION: underline
}
P.featuretext {
	FONT-SIZE: 7px
}
TD.newswirecolumn {
	COLOR: black; BACKGROUND-COLOR: #cccccc
}
TD.newswire {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.newswiretitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: black
}
TD.separator {
	BACKGROUND-COLOR: black
}
.article {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; BACKGROUND-COLOR: #eaeaea
}
.articleabstract {
	FONT-WEIGHT: bold
}
.articleauthordate {
	FONT-SIZE: 9px; COLOR: #000099
}
.articlehomepageemail {
	FONT-SIZE: 9px; COLOR: #000099
}
.articletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 20px
}
A.articleaddcomment:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: none
}
A.articleaddcomment:visited {
	FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: none
}
A.articleaddcomment:active {
	FONT-SIZE: 20px; COLOR: #000099
}
A.articleaddcomment:hover {
	FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: underline
}
.articlecomments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 3px; COLOR: #eaeaea; PADDING-TOP: 10px; BACKGROUND-COLOR: #999999
}
.articlecommentseparator {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #999999
}
.commentauthordate {
	FONT-SIZE: 9px
}
.commenttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
A.articlelink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: none
}
A.articlelink:visited {
	FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: none
}
A.articlelink:active {
	FONT-SIZE: 20px; COLOR: #000099
}
A.articlelink:hover {
	FONT-SIZE: 20px; COLOR: #000099; TEXT-DECORATION: underline
}
.archivetitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 25px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
TD.archiveindex {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; BACKGROUND-COLOR: #cccccc
}
TD.archivepagenumber {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; BACKGROUND-COLOR: #cccccc
}
.archivenavigation {
	COLOR: black; BACKGROUND-COLOR: #cccccc
}
.searchbutton {
	COLOR: white; BACKGROUND-COLOR: #336699; spacing: 2px 2px 2px 2px
}
.searchcheckbox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.searchfield {
	COLOR: black; BACKGROUND-COLOR: #eaeaea; spacing: 20px 20px 20px 20px
}
.searchtitle {
	FONT-WEIGHT: bold; COLOR: white
}
.openposting {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; COLOR: #000099; PADDING-TOP: 20px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eaeaea
}
.openpostinghint {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
.openpostingform {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; COLOR: black; PADDING-TOP: 20px; BACKGROUND-COLOR: #cccccc; spacing: 0px 0px 0px 0px
}
.openpostingheading {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 20px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #6699cc
}
.openpostingoption {
	FONT-WEIGHT: normal
}
.openpostingspecial {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; COLOR: white; PADDING-TOP: 20px; BACKGROUND-COLOR: #6699cc; spacing: 0px 0px 0px 0px
}
.openpostingbutton {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #336699; spacing: 2px 2px 2px 2px
}
.openpostingerror {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 10px; COLOR: #ff0000; PADDING-TOP: 10px; BACKGROUND-COLOR: #cccccc
}
.searchresultfield {
	FONT-WEIGHT: normal
}
.searchresulttitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #6699cc; spacing: 0px 0px 0px 0px
}
A.searchresult:link {
	COLOR: white; TEXT-DECORATION: none
}
A.searchresult:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.searchresult:active {
	COLOR: white
}
A.searchresult:hover {
	COLOR: white; TEXT-DECORATION: underline
}
A.openpostingspeciallink:link {
	COLOR: white; TEXT-DECORATION: none
}
A.openpostingspeciallink:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.openpostingspeciallink:active {
	COLOR: white
}
A.openpostingspeciallink:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.trashwarning {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ff0000
}
