
.sobre{
background-color: #004080;
border: 0,, solid;
border-color: ;
}
td{
color: ;
}
body{
background-color: transparent;
background-image: ;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: left top;
font-family: Verdana;
font-size: 10;
}
table{
border: solid, ,0;
border-color: #ffffff;
text-align: left;
border: , solid;
vertical-align: top;
background-color: ;
background-image: ;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
}
input{
font-family: Fonte padrão;
text-align: Escolha um...;
font-size: ;
color: ;
background-color: ;
font-family: Não alterar;
text-align: Não Alterar;
font-size: ;
color: #0000a0;}